<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/">
        <img id="blog" class="logo" src="/mjmora/public/img/mj.png" width="55%" style="margin-left:auto;margin-right:auto;">
      </a>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <div class="social-icons">
      <a href="https://es-es.facebook.com/mariajose.moraluque" class="icon icon-facebook"></a>
      <a href="http://es.linkedin.com/pub/mar%C3%ADa-jos%C3%A9-mora-luque/46/324/633" class="icon icon-linkedin"></a>
      <!--<a href="#" class="icon icon-twitter"></a>-->
      <a href="mailto:mjose.farma@gmail.com" class="icon icon-mail"></a>
    </div>

  </div>
</div>
